<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HttpServletDemo</servlet-name>
        <servlet-class>edu.somaiya.mca.HttpServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTTPSessionDemo</servlet-name>
        <servlet-class>edu.somaiya.mca.HTTPSessionDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTTPSession</servlet-name>
        <servlet-class>edu.somaiya.mca.HTTPSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericServletDemo</servlet-name>
        <servlet-class>edu.somaiya.mca.GenericServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfigDemo</servlet-name>
        <servlet-class>edu.somaiya.mca.ServletConfigDemo</servlet-class>
        <init-param>
            <param-name>message</param-name>
            <param-value>Message from Servlet Config!</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletHeadersDemo</servlet-name>
        <servlet-class>edu.somaiya.mca.ServletHeadersDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>edu.somaiya.mca.QuizServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
         <servlet-class>edu.somaiya.mca.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletDemo</servlet-name>
        <url-pattern>/HttpServletDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTTPSessionDemo</servlet-name>
        <url-pattern>/HTTPSessionDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTTPSession</servlet-name>
        <url-pattern>/HTTPSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServletDemo</servlet-name>
        <url-pattern>/GenericServletDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfigDemo</servlet-name>
        <url-pattern>/ServletConfigDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHeadersDemo</servlet-name>
        <url-pattern>/ServletHeadersDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/QuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
